<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />

    <!-- Temporary solution until Akka.Persistence.Sql.Exporter can publish NuGet packages -->
    <!-- Manually added nuget package built from the Akka.Persistence.Sql.Exporter repo -->
    <add key="Data compat feed" value="./nuget" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="Data compat feed">
      <package pattern="Akka.Persistence.Sql.Compat.Common" />
    </packageSource>

    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
