<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- Temporary solution until Akka.Persistence.Sql.Exporter can publish NuGet packages -->
        <!-- Manually added nuget package built from the Akka.Persistence.Sql.Exporter repo -->
        <add key="Data compat feed" value="./nuget" />
    </packageSources>
</configuration>